.about-page {
  height: 100% !important;
  width: 100% !important;
}
#about {
  height: 100vh;
  background: rgb(36, 55, 72);
  background: linear-gradient(
    321deg,
    rgba(36, 55, 72, 1) 12%,
    rgba(41, 82, 112, 1) 49%,
    rgba(75, 116, 159, 1) 92%
  );
}
.about-me {
  display: flex;
  align-items: center;
  height: 100%;
}
.my-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-image img {
  opacity: 0.5;
  /* height: 100%; */
  width: 450px;
  object-fit: cover;
  display: block;
  transition: opacity 500ms 0ms ease-in-out;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-intro {
  font-size: 50px;
  color: #152734;
}
#iam {
  color: rgb(142, 181, 195);
  font-size: 66px;
}
.description-title {
  font-size: 80px;
}
.description-text {
  font-size: x-large;
}
.description-title span {
  background: rgb(131, 153, 162);
  background: linear-gradient(
    321deg,
    rgba(131, 153, 162, 1) 12%,
    rgba(238, 242, 243, 1) 92%
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.description-text span {
  background: rgb(184, 156, 147);
  background: linear-gradient(
    82deg,
    rgba(184, 156, 147, 1) 12%,
    rgba(145, 146, 100, 0.882) 92%
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
}
